body {
  font-family: Be Vietnam;
}
.display-1 {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 4.0625rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.078125rem;
}
.display-2 {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 3.1875rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.984375rem;
}
.display-4 {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1rem;
}
.display-5 {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 2.4375rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.046875rem;
}
.display-7 {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 1.5625rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.953125rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.25rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.84375rem;
    font-size: calc( 2.071875rem + (4.0625 - 2.071875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.071875rem + (4.0625 - 2.071875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.55rem;
    font-size: calc( 1.765625rem + (3.1875 - 1.765625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.765625rem + (3.1875 - 1.765625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.95rem;
    font-size: calc( 1.5031249999999998rem + (2.4375 - 1.5031249999999998) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.5031249999999998rem + (2.4375 - 1.5031249999999998) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.25rem;
    font-size: calc( 1.196875rem + (1.5625 - 1.196875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.196875rem + (1.5625 - 1.196875) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #199bfc !important;
}
.bg-success {
  background-color: #3dc84b !important;
}
.bg-info {
  background-color: #17161a !important;
}
.bg-warning {
  background-color: #283742 !important;
}
.bg-danger {
  background-color: #f9f9f9 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #199bfc !important;
  border-color: #199bfc !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #026dbc !important;
  border-color: #026dbc !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #026dbc !important;
  border-color: #026dbc !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #17161a !important;
  border-color: #17161a !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info,
.btn-info:active {
  background-color: #17161a !important;
  border-color: #17161a !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success,
.btn-success:active {
  background-color: #3dc84b !important;
  border-color: #3dc84b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #278830 !important;
  border-color: #278830 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #278830 !important;
  border-color: #278830 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #283742 !important;
  border-color: #283742 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #070a0c !important;
  border-color: #070a0c !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #070a0c !important;
  border-color: #070a0c !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #f9f9f9 !important;
  border-color: #f9f9f9 !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #4e4e4e !important;
  background-color: #cecece !important;
  border-color: #cecece !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #7a7a7a !important;
  background-color: #cecece !important;
  border-color: #cecece !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #199bfc;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #026dbc !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #199bfc !important;
  border-color: #199bfc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #17161a;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #17161a !important;
  border-color: #17161a !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #17161a;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #17161a !important;
  border-color: #17161a !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #3dc84b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #278830 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #3dc84b !important;
  border-color: #3dc84b !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #283742;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #070a0c !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #283742 !important;
  border-color: #283742 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #f9f9f9;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #cecece !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #7a7a7a !important;
  background-color: #f9f9f9 !important;
  border-color: #f9f9f9 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #199bfc !important;
}
.text-secondary {
  color: #17161a !important;
}
.text-success {
  color: #3dc84b !important;
}
.text-info {
  color: #17161a !important;
}
.text-warning {
  color: #283742 !important;
}
.text-danger {
  color: #f9f9f9 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #0264ad !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #237c2c !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #020202 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #c6c6c6 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #199bfc;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #17161a;
}
.alert-warning {
  background-color: #283742;
}
.alert-danger {
  background-color: #f9f9f9;
}
.mbr-gallery-filter li.active .btn {
  background-color: #199bfc;
  border-color: #199bfc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #199bfc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e2f3ff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0e4a7;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c8c6cf;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #92abbd;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #199bfc !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1rem;
}
blockquote {
  border-color: #199bfc;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #199bfc;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #199bfc;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #199bfc;
  border-bottom-color: #199bfc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #199bfc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #17161a !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23199bfc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sxX1wyHFsn {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sxX1wyHFsn nav.navbar {
  position: fixed;
}
.cid-sxX1wyHFsn .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sxX1wyHFsn .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sxX1wyHFsn .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sxX1wyHFsn .dropdown-item:hover,
.cid-sxX1wyHFsn .dropdown-item:focus {
  background: #199bfc !important;
  color: white !important;
}
.cid-sxX1wyHFsn .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sxX1wyHFsn .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sxX1wyHFsn .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sxX1wyHFsn .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sxX1wyHFsn .nav-link {
  position: relative;
}
.cid-sxX1wyHFsn .container {
  display: flex;
  margin: auto;
}
.cid-sxX1wyHFsn .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sxX1wyHFsn .dropdown-menu,
.cid-sxX1wyHFsn .navbar.opened {
  background: #ffffff !important;
}
.cid-sxX1wyHFsn .nav-item:focus,
.cid-sxX1wyHFsn .nav-link:focus {
  outline: none;
}
.cid-sxX1wyHFsn .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sxX1wyHFsn .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sxX1wyHFsn .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sxX1wyHFsn .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sxX1wyHFsn .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sxX1wyHFsn .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sxX1wyHFsn .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-sxX1wyHFsn .navbar.opened {
  transition: all 0.3s;
}
.cid-sxX1wyHFsn .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sxX1wyHFsn .navbar .navbar-logo img {
  width: auto;
}
.cid-sxX1wyHFsn .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sxX1wyHFsn .navbar.collapsed {
  justify-content: center;
}
.cid-sxX1wyHFsn .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sxX1wyHFsn .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sxX1wyHFsn .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sxX1wyHFsn .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sxX1wyHFsn .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sxX1wyHFsn .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sxX1wyHFsn .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sxX1wyHFsn .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sxX1wyHFsn .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sxX1wyHFsn .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sxX1wyHFsn .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sxX1wyHFsn .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sxX1wyHFsn .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sxX1wyHFsn .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sxX1wyHFsn .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sxX1wyHFsn .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sxX1wyHFsn .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sxX1wyHFsn .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sxX1wyHFsn .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sxX1wyHFsn .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sxX1wyHFsn .navbar.navbar-short {
  min-height: 60px;
}
.cid-sxX1wyHFsn .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sxX1wyHFsn .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sxX1wyHFsn .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sxX1wyHFsn .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sxX1wyHFsn .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sxX1wyHFsn .dropdown-item.active,
.cid-sxX1wyHFsn .dropdown-item:active {
  background-color: transparent;
}
.cid-sxX1wyHFsn .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sxX1wyHFsn .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sxX1wyHFsn .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sxX1wyHFsn .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sxX1wyHFsn .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sxX1wyHFsn .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sxX1wyHFsn ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sxX1wyHFsn .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sxX1wyHFsn button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sxX1wyHFsn button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sxX1wyHFsn button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sxX1wyHFsn button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sxX1wyHFsn button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sxX1wyHFsn button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sxX1wyHFsn nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sxX1wyHFsn nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sxX1wyHFsn nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sxX1wyHFsn nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sxX1wyHFsn .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sxX1wyHFsn a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sxX1wyHFsn .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sxX1wyHFsn .navbar {
    height: 70px;
  }
  .cid-sxX1wyHFsn .navbar.opened {
    height: auto;
  }
  .cid-sxX1wyHFsn .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sxWXzSEOkn {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #fafafa;
}
.cid-sxWXzSEOkn .carousel {
  width: 100%;
}
.cid-sxWXzSEOkn .carousel-inner {
  display: flex;
  align-content: center;
  align-items: center;
}
.cid-sxWXzSEOkn .carousel-item img {
  height: 100vh;
  object-fit: cover;
}
.cid-sxWXzSEOkn .mbr-overlay {
  z-index: 1;
}
.cid-sxWXzSEOkn .carousel-caption {
  bottom: 40px;
}
.cid-sxWXzSEOkn .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-sxWXzSEOkn .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-sxWXzSEOkn .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-sxWXzSEOkn .item-wrapper {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-sxWXzSEOkn .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-sxWXzSEOkn .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-sxWXzSEOkn .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-sxWXzSEOkn .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-sxWXzSEOkn .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sxWXzSEOkn .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sxWXzSEOkn .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sxWXzSEOkn .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-sxWXzSEOkn .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sxWXzSEOkn .carousel-indicators li.active,
.cid-sxWXzSEOkn .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sxWXzSEOkn .carousel-indicators li::after,
.cid-sxWXzSEOkn .carousel-indicators li::before {
  content: none;
}
.cid-sxWXzSEOkn .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sxWXzSEOkn .carousel-indicators {
    display: none !important;
  }
}
.cid-rRIkbRb1Do {
  overflow: hidden;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-image: url("../../../assets/images/art-exibition-1920x1280.jpg");
}
.cid-rRIkbRb1Do .container {
  margin: 0 auto;
  padding: 0 25px;
}
.cid-rRIkbRb1Do .wrap {
  padding: 0 25px;
}
.cid-rRIkbRb1Do .wrap:before {
  content: '';
  position: absolute;
  width: 680px;
  height: 680px;
  border-radius: 50%;
  mix-blend-mode: multiply;
  background-color: #80c7fe;
  top: 0px;
  right: 0px;
}
.cid-rRIkbRb1Do .title__block {
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
}
.cid-rRIkbRb1Do .mbr-text {
  margin-bottom: 20px;
}
.cid-rRIkbRb1Do .mbr-section-btn {
  margin-top: 10px;
}
@media (max-width: 1199px) {
  .cid-rRIkbRb1Do .title__block {
    padding: 80px 0;
  }
}
@media (max-width: 991px) {
  .cid-rRIkbRb1Do .title__block {
    padding: 80px 0;
  }
  .cid-rRIkbRb1Do .container,
  .cid-rRIkbRb1Do .row {
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .cid-rRIkbRb1Do .title__block {
    padding: 50px 0;
  }
}
@media (max-width: 575px) {
  .cid-rRIkbRb1Do a.close {
    right: 50px;
    top: 25px;
  }
  .cid-rRIkbRb1Do .modalWindow .modalWindow-video {
    height: calc(90vw / 1.778);
    width: 90vw;
    margin: 0 auto;
  }
}
.cid-rRIkbRb1Do .mbr-section-title,
.cid-rRIkbRb1Do .mbr-figure {
  color: #ffffff;
}
.cid-rRIjJzt6Us {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #f9f9f9;
}
.cid-rRIjJzt6Us .wrap {
  height: 700px;
}
.cid-rRIjJzt6Us .mbr-section-subtitle {
  opacity: .8;
  margin-bottom: 10px;
  color: #000000;
}
.cid-rRIjJzt6Us .mbr-text {
  color: #000000;
  margin-top: 30px;
}
.cid-rRIjJzt6Us .parallax__wrap {
  transform: translate3d(0px, -115px, 0px);
  background-position: center center;
  width: 100%;
  backface-visibility: hidden;
  will-change: transform;
}
.cid-rRIjJzt6Us .content__block {
  min-width: 1200px;
  transform: translateX(-45%);
}
.cid-rRIjJzt6Us .group__content {
  padding-bottom: 30px;
  position: relative;
}
.cid-rRIjJzt6Us .parallax__image {
  perspective: 700px;
}
.cid-rRIjJzt6Us .image {
  margin: 0;
  width: 100%;
  height: 230px;
  transition: transform .5s;
}
.cid-rRIjJzt6Us .image:hover {
  transform: rotateX(-10deg);
}
.cid-rRIjJzt6Us .image img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-rRIjJzt6Us .minwidth {
  background-image: url("../../../assets/images/conference2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 300px;
}
@media (max-width: 575px) {
  .cid-rRIjJzt6Us .minwidth {
    height: 200px;
  }
}
.cid-rRIjJzt6Us .btn {
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .cid-rRIjJzt6Us .push-lg {
    left: 8.33333333%;
  }
  .cid-rRIjJzt6Us .push {
    left: 3%;
  }
}
@media (max-width: 991px) {
  .cid-rRIjJzt6Us .wrap {
    height: auto;
  }
  .cid-rRIjJzt6Us .parallax__wrap {
    transform: translate3d(0px, 0, 0px);
  }
  .cid-rRIjJzt6Us .minwidth {
    margin-bottom: 30px;
  }
}
.cid-rRIiRsUpwJ {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #f9f9f9;
}
.cid-rRIiRsUpwJ .title__block {
  margin-bottom: 40px;
}
.cid-rRIiRsUpwJ .carousel-item {
  justify-content: center;
}
.cid-rRIiRsUpwJ .carousel-control-prev {
  left: -8%;
  justify-content: flex-start !important;
  width: 10%;
}
.cid-rRIiRsUpwJ .carousel-control-next {
  justify-content: flex-end !important;
  right: -8%;
  width: 10%;
}
.cid-rRIiRsUpwJ .carousel-controls a span {
  width: 56px;
  height: 56px;
  line-height: 36px;
  font-size: 18px;
  position: absolute;
  padding: 10px;
  border-radius: 50%;
  color: #ffffff;
  background: rgba(25, 155, 252, 0.3);
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}
.cid-rRIiRsUpwJ .carousel-controls a:hover span {
  background: rgba(25, 155, 252, 0.6);
}
.cid-rRIiRsUpwJ .user_image {
  display: flex;
  width: 100%;
  height: 540px;
  margin: auto;
  perspective: 900px;
}
.cid-rRIiRsUpwJ .user_image img {
  transition: transform .5s;
  width: 100%;
  height: 95%;
  object-fit: cover;
  border-radius: 6px;
}
.cid-rRIiRsUpwJ .user_image img:hover {
  transform: rotateX(-3deg);
}
@media (max-width: 1350px) {
  .cid-rRIiRsUpwJ .user {
    max-width: 87%;
  }
  .cid-rRIiRsUpwJ .carousel-control-prev {
    justify-content: center !important;
    left: -3%;
  }
  .cid-rRIiRsUpwJ .carousel-control-next {
    justify-content: center !important;
    right: -3%;
  }
}
@media (max-width: 991px) {
  .cid-rRIiRsUpwJ .user {
    max-width: 100%;
  }
  .cid-rRIiRsUpwJ .carousel-control-prev {
    left: -5%;
  }
  .cid-rRIiRsUpwJ .carousel-control-next {
    right: -5%;
  }
  .cid-rRIiRsUpwJ .user_image {
    height: auto;
  }
}
@media (max-width: 767px) {
  .cid-rRIiRsUpwJ .title__block {
    margin-bottom: 20px;
  }
  .cid-rRIiRsUpwJ .carousel-controls {
    display: none;
  }
}
.cid-rRIiaHWZmu {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f9f9f9;
}
.cid-rRIiaHWZmu .title__wrap {
  margin-bottom: 30px;
}
.cid-rRIiaHWZmu .title__block {
  margin-bottom: 10px;
}
.cid-rRIiaHWZmu .mbr-section-subtitle {
  opacity: .8;
  margin-bottom: 15px;
}
.cid-rRIiaHWZmu .mbr-section-title {
  margin-bottom: 0;
}
.cid-rRIiaHWZmu .buttons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.cid-rRIiaHWZmu .mbr-section-btn .btn-secondary-outline {
  padding: 3px 0;
  margin-bottom: 10px;
  color: inherit !important;
  border: none !important;
  background-color: transparent !important;
}
.cid-rRIiaHWZmu .mbr-section-btn .btn-secondary-outline:hover {
  color: #199bfc !important;
}
.cid-rRIiaHWZmu .wrap {
  margin-bottom: 30px;
  height: 100%;
}
.cid-rRIiaHWZmu .wrap:hover .image img {
  transform: scale3d(1.1, 1.1, 1);
}
.cid-rRIiaHWZmu .wrap:hover .descr__text {
  transform: translateY(-20px);
  opacity: 0;
}
.cid-rRIiaHWZmu .wrap:hover .link__text {
  opacity: 1;
  transform: translateY(-25px);
}
.cid-rRIiaHWZmu .image {
  overflow: hidden;
  width: 100%;
  min-height: 80px;
  height: 430px;
  border-radius: 4px;
}
.cid-rRIiaHWZmu .image img {
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-rRIiaHWZmu .descr__block {
  padding: 25px 0 0;
}
.cid-rRIiaHWZmu .descr__title {
  margin-bottom: 5px;
}
.cid-rRIiaHWZmu .descr__text {
  transform: translateY(0);
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  margin-bottom: 0;
}
.cid-rRIiaHWZmu .descr__text:after {
  content: '•';
  display: inline-block;
  vertical-align: middle;
  font-size: .8em;
  margin-top: -2px;
  color: #199bfc;
  margin-left: 5px;
}
.cid-rRIiaHWZmu .link__text {
  display: inline-block;
  position: relative;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  margin-top: 5px;
  margin-top: 0;
  opacity: 0;
  transform: translateY(0);
}
.cid-rRIiaHWZmu .link__text a {
  position: relative;
}
.cid-rRIiaHWZmu .link__text a:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: currentColor;
  top: 50%;
  right: -55px;
}
.cid-rRIiaHWZmu .link__text a:hover {
  color: #199bfc !important;
}
@media (max-width: 767px) {
  .cid-rRIiaHWZmu .descr__block {
    padding: 20px;
  }
}
@media (max-width: 575px) {
  .cid-rRIiaHWZmu .image {
    height: 300px;
  }
  .cid-rRIiaHWZmu .mbr-section-btn .btn {
    margin: 0.4rem 0.4rem;
  }
  .cid-rRIiaHWZmu .mbr-section-btn {
    margin-left: -0.4rem;
    margin-right: -0.4rem;
  }
  .cid-rRIiaHWZmu .buttons {
    justify-content: flex-start;
  }
}
.cid-rRIizpy8Kq {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f9f9f9;
}
.cid-rRIizpy8Kq .mbr-section-subtitle {
  opacity: .8;
  margin-bottom: 15px;
}
.cid-rRIizpy8Kq .mbr-text {
  margin-bottom: 20px;
}
.cid-rRIizpy8Kq .wrap {
  margin-bottom: 30px;
}
.cid-rRIizpy8Kq .card__wrap {
  display: flex;
  background-color: rgba(35, 34, 38, 0.03);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}
.cid-rRIizpy8Kq .card__wrap:hover .author,
.cid-rRIizpy8Kq .card__wrap:hover .date,
.cid-rRIizpy8Kq .card__wrap:hover .category__content,
.cid-rRIizpy8Kq .card__wrap:hover .category__estimate,
.cid-rRIizpy8Kq .card__wrap:hover .content__title,
.cid-rRIizpy8Kq .card__wrap:hover .mbr-section-btn2 .btn {
  color: #fff !important;
}
.cid-rRIizpy8Kq .card__wrap:hover .image img {
  transform: scale3d(1.1, 1.1, 1);
}
.cid-rRIizpy8Kq .card__wrap:hover .image__post img {
  transform: scale3d(1.1, 1.1, 1);
}
.cid-rRIizpy8Kq .card__wrap:hover .card__post {
  opacity: 1;
  background: linear-gradient(0deg, rgba(23, 22, 26, 0), rgba(23, 22, 26, 0.4));
  transform: translateY(0);
}
.cid-rRIizpy8Kq .image {
  overflow: hidden;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cid-rRIizpy8Kq .image img {
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.cid-rRIizpy8Kq .image:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .45;
  background-color: #17161a;
  z-index: 5;
  pointer-events: none;
  border-radius: 4px;
}
.cid-rRIizpy8Kq .card__post {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 30px;
  line-height: 1.4;
  z-index: 5;
  opacity: 0;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transform: translateY(-10px);
}
.cid-rRIizpy8Kq .image__post {
  display: inline-block;
  height: 46px;
  width: 46px;
  min-width: 46px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  margin-right: 15px;
  border-radius: 50%;
}
.cid-rRIizpy8Kq .image__post img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}
.cid-rRIizpy8Kq .author__post {
  display: inline-block;
  white-space: nowrap;
  pointer-events: all;
}
.cid-rRIizpy8Kq .card__content {
  width: 100%;
  padding: 30px;
  position: absolute;
  bottom: 0;
  top: 86px;
  left: 0;
  align-self: flex-end;
  z-index: 5;
  pointer-events: none;
}
.cid-rRIizpy8Kq .card__content > div {
  pointer-events: all;
}
.cid-rRIizpy8Kq .card__content .mbr-section-btn2 {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 7;
  pointer-events: all;
  width: calc(100% - 45px);
}
.cid-rRIizpy8Kq .card__content .mbr-section-btn2 .btn {
  transition-duration: 0s;
  padding: 3px 0;
  border: none !important;
  background-color: transparent !important;
  margin-left: 0;
}
.cid-rRIizpy8Kq .card__content .mbr-section-btn2 .btn .mbr-iconfont {
  font-size: 15px;
}
.cid-rRIizpy8Kq .circle:after {
  content: '•';
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  margin-top: -2px;
  color: #199bfc;
  margin-left: 4px;
  margin-right: 4px;
}
.cid-rRIizpy8Kq .content__title {
  margin: 12px 0;
  pointer-events: all;
}
@media (max-width: 575px) {
  .cid-rRIizpy8Kq .mbr-section-btn .btn {
    margin: 0.4rem 0.4rem;
  }
  .cid-rRIizpy8Kq .mbr-section-btn {
    margin-left: -0.4rem;
    margin-right: -0.4rem;
  }
}
.cid-rRIiF0fHgC {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f9f9f9;
}
.cid-rRIiF0fHgC .wrap:hover .image img {
  transform: scale(1.02);
}
.cid-rRIiF0fHgC .title__block {
  padding: 0 20px;
  position: absolute;
  max-width: 50%;
  height: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
}
.cid-rRIiF0fHgC .mbr-section-subtitle {
  margin-bottom: 15px;
}
.cid-rRIiF0fHgC .mbr-section-btn .btn-secondary-outline {
  margin-top: 10px;
  padding: 3px 0;
  color: inherit !important;
  border: none !important;
  background-color: transparent !important;
}
.cid-rRIiF0fHgC .mbr-section-btn .btn-secondary-outline:hover {
  color: #199bfc !important;
}
.cid-rRIiF0fHgC .image {
  overflow: hidden;
  width: calc(100% - 120px);
  max-height: 530px;
  height: 100%;
  float: right;
  position: relative;
  border-radius: 4px;
}
.cid-rRIiF0fHgC .image img {
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 991px) {
  .cid-rRIiF0fHgC .image {
    max-height: 350px;
  }
  .cid-rRIiF0fHgC .title__block {
    max-width: 90%;
  }
}
@media (max-width: 767px) {
  .cid-rRIiF0fHgC .wrap {
    display: flex;
    flex-direction: column-reverse;
  }
  .cid-rRIiF0fHgC .image {
    width: 100%;
    float: none;
  }
  .cid-rRIiF0fHgC .title__block {
    height: auto;
    position: static;
    padding: 25px ;
    width: 100%;
    max-width: none ;
  }
}
.cid-rRIj1OMqmW {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f9f9f9;
}
.cid-rRIj1OMqmW .title__wrap {
  margin-bottom: 30px;
}
.cid-rRIj1OMqmW .title__block {
  margin-bottom: 10px;
}
.cid-rRIj1OMqmW .mbr-section-title {
  margin-bottom: 0;
}
.cid-rRIj1OMqmW .mbr-section-subtitle {
  opacity: .8;
  margin-bottom: 15px;
}
.cid-rRIj1OMqmW .buttons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.cid-rRIj1OMqmW .mbr-section-btn .btn-secondary-outline {
  padding: 3px 0;
  color: #17161a !important;
  margin-bottom: 10px;
  border: none !important;
  background-color: transparent !important;
}
.cid-rRIj1OMqmW .mbr-section-btn .btn-secondary-outline:hover {
  color: #199bfc !important;
}
.cid-rRIj1OMqmW .wrap {
  margin: 0;
  padding: 25px 0;
  border-top: 1px solid rgba(25, 31, 35, 0.4);
}
.cid-rRIj1OMqmW .wrap:last-child {
  border-bottom: 1px solid rgba(25, 31, 35, 0.4);
}
.cid-rRIj1OMqmW .plpr_0 {
  padding-left: 0;
  padding-right: 0;
}
.cid-rRIj1OMqmW .nav-tabs .nav-item.open .nav-link:focus,
.cid-rRIj1OMqmW .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-rRIj1OMqmW .nav-tabs {
  flex-wrap: wrap;
  border-bottom: none;
  margin-bottom: 30px;
}
@media (max-width: 575px) {
  .cid-rRIj1OMqmW .nav-tabs {
    flex-direction: column;
    align-items: flex-start;
  }
}
.cid-rRIj1OMqmW .nav-tabs .nav-link {
  color: #17161a;
  font-style: normal;
  font-weight: 700;
  border: none;
  border-bottom: 2px solid transparent;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  margin-right: 25px;
  padding: 12px 0 !important;
}
.cid-rRIj1OMqmW .nav-tabs .nav-link:hover {
  cursor: pointer;
}
.cid-rRIj1OMqmW .nav-tabs .nav-link.active {
  font-weight: 700;
  font-style: normal;
  background-color: transparent !important;
  border-bottom: 2px solid #199bfc;
}
.cid-rRIj1OMqmW .nav-tabs .nav-link.active:hover {
  background-color: #199bfc;
}
@media (max-width: 991px) {
  .cid-rRIj1OMqmW .align-right {
    text-align: left !important;
  }
}
@media (max-width: 575px) {
  .cid-rRIj1OMqmW .buttons {
    justify-content: flex-start;
  }
}
.cid-rRIja2QhYv {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f9f9f9;
}
.cid-rRIja2QhYv .content__block {
  background: rgba(25, 155, 252, 0.1);
  border-radius: 4px;
  padding: 30px;
}
.cid-rRIja2QhYv .mbr-section-title {
  margin-bottom: 20px;
}
.cid-rRIja2QhYv .text__subt {
  margin-bottom: 20px;
}
.cid-rRIja2QhYv .mbr-text {
  margin: 10px 0 20px;
}
.cid-rRIja2QhYv .subscribe__form {
  padding-bottom: 50px;
}
.cid-rRIja2QhYv .form-group {
  margin-bottom: 0;
  padding-right: 0;
}
.cid-rRIja2QhYv .form-control {
  border: none;
  height: 50px;
  padding: 14px 18px;
  background-color: #f5f7fd !important;
  font-size: 16px;
  color: #191f23;
  border-radius: 4px;
}
.cid-rRIja2QhYv .input-group-btn {
  padding-left: 0;
}
.cid-rRIja2QhYv .input-group-btn .btn {
  height: 50px;
  font-weight: 600;
  padding: 14px 18px;
}
.cid-rRIja2QhYv .mbr-form .input-group-btn .btn {
  border-radius: 4px !important;
}
.cid-rRIja2QhYv .mbr-form .btn {
  margin: 0;
}
.cid-rRIja2QhYv input::-webkit-input-placeholder {
  color: #191f23;
  opacity: .8;
}
.cid-rRIja2QhYv input::-moz-placeholder {
  color: #191f23;
  opacity: .8;
}
.cid-rRIja2QhYv .divider {
  background-color: #191f23;
  height: 1px;
  opacity: 0.6;
}
@media (max-width: 767px) {
  .cid-rRIja2QhYv .divider {
    margin: 0 15px;
  }
}
.cid-rRIjBgE6OI {
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.cid-rRIjBgE6OI .main {
  height: 480px;
}
.cid-rRIjBgE6OI .map {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.cid-rRIjBgE6OI .map iframe {
  flex: 1;
}
@media (min-width: 768px) {
  .cid-rRIjBgE6OI .map {
    height: auto;
  }
}
.cid-rRIjBgE6OI .wrap__content {
  display: flex;
  padding: 0;
}
.cid-rRIjBgE6OI .block__content1,
.cid-rRIjBgE6OI .block__content2 {
  padding: 90px 15px 90px 70px;
}
.cid-rRIjBgE6OI .block__content1 {
  background-color: #f5f7fd;
}
.cid-rRIjBgE6OI .block__content2 {
  background-color: #ebeaed;
}
.cid-rRIjBgE6OI .border__radius {
  margin-bottom: 20px;
  border: 2px solid #c3c3c3;
  border-radius: 50%;
  max-width: 46px;
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-rRIjBgE6OI .content__title,
.cid-rRIjBgE6OI .title__address {
  margin-bottom: 20px;
}
.cid-rRIjBgE6OI .content__span,
.cid-rRIjBgE6OI .content__span2 {
  color: #6a696c;
}
.cid-rRIjBgE6OI .content__phone {
  margin-bottom: 25px;
}
.cid-rRIjBgE6OI .google-map {
  -webkit-flex: 1;
  flex: 1;
  display: flex;
  position: relative;
}
@media (max-width: 991px) {
  .cid-rRIjBgE6OI .main {
    height: auto;
  }
  .cid-rRIjBgE6OI .block__content1,
  .cid-rRIjBgE6OI .block__content2 {
    padding: 70px 15px 70px 25px;
  }
}
@media (max-width: 767px) {
  .cid-rRIjBgE6OI .block__content1 {
    padding: 50px 15px 0;
    text-align: left;
  }
  .cid-rRIjBgE6OI .block__content2 {
    padding: 50px 15px 50px;
    text-align: left;
  }
  .cid-rRIjBgE6OI .icons {
    justify-content: flex-start !important;
  }
}
@media (max-width: 575px) {
  .cid-rRIjBgE6OI .wrap__content {
    flex-direction: column;
  }
}
.cid-rRIjBgE6OI .content__title {
  color: #17161a;
}
.cid-rRIjBgE6OI .title__address {
  color: #17161a;
}
.cid-rRO2bVxeST {
  padding-top: 6rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-rRO2bVxeST .logo__image {
  width: 60px;
  object-fit: cover;
}
.cid-rRO2bVxeST .footer__content {
  margin-bottom: 30px;
}
.cid-rRO2bVxeST .footer__content:last-child {
  margin-bottom: 0;
}
.cid-rRO2bVxeST .title__address {
  margin-bottom: 20px;
}
.cid-rRO2bVxeST .privacy {
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .cid-rRO2bVxeST .privacy {
    text-align: left;
  }
}
.cid-rRO2bVxeST .divider {
  background-color: #888888;
  opacity: .1;
  margin: 90px 0 25px;
  height: 1px;
}
.cid-rRO2bVxeST .form-group {
  margin-bottom: 0;
  padding-right: 0;
}
.cid-rRO2bVxeST .form-control {
  height: 50px;
  border: none;
  padding: 14px 18px;
  background-color: #f5f7fd !important;
  font-size: 16px;
  color: #191f23;
}
.cid-rRO2bVxeST .input-group-btn {
  padding-left: 0;
}
.cid-rRO2bVxeST .input-group-btn .btn {
  height: 50px;
  font-weight: 600;
  padding: 14px 18px;
}
.cid-rRO2bVxeST .mbr-form .input-group-btn .btn {
  border-radius: 4px !important;
}
.cid-rRO2bVxeST .mbr-form .btn {
  margin: 0;
}
.cid-rRO2bVxeST input::-webkit-input-placeholder {
  color: #191f23;
  opacity: .8;
}
.cid-rRO2bVxeST input::-moz-placeholder {
  color: #191f23;
  opacity: .8;
}
@media (max-width: 991px) {
  .cid-rRO2bVxeST .wrap {
    padding-bottom: 25px;
  }
  .cid-rRO2bVxeST .divider {
    margin: 0 0 20px;
  }
}
.cid-sxWYVEH618 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sxWYVEH618 .timelines-container {
  display: flex;
  flex-wrap: wrap;
}
.cid-sxWYVEH618 .timeline-element {
  position: relative;
}
.cid-sxWYVEH618 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sxWYVEH618 .iconBackground {
  position: absolute;
  left: 33.33%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #6592e6;
  top: 30px;
  margin-left: -9px;
}
.cid-sxWYVEH618 .separline:before {
  top: 50px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #6592e6;
  left: 33.33%;
  height: calc(100% + 30px);
}
@media (max-width: 767px) {
  .cid-sxWYVEH618 .iconBackground {
    left: 15px !important;
  }
  .cid-sxWYVEH618 .separline:before {
    left: 15px !important;
  }
}
.cid-sxWYVEH618 .mbr-section-title,
.cid-sxWYVEH618 .mbr-section-subtitle {
  text-align: center;
}
@media (max-width: 767px) {
  .cid-sxWYVEH618 .time-line-date-content {
    margin-left: 1rem;
  }
  .cid-sxWYVEH618 .time-line-date-content .mbr-timeline-date {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .cid-sxWYVEH618 .time-line-date-content {
    margin-right: 1rem;
  }
  .cid-sxWYVEH618 .time-line-date-content .mbr-timeline-date {
    text-align: right;
  }
}
.cid-sxWYVEH618 .timeline-text-content {
  margin-left: 2rem;
}
.cid-sxWYVEH618 .reverseTimeline {
  display: flex;
  flex-direction: column-reverse;
}
.cid-sxWYVEH618 .mbr-timeline-date {
  text-align: right;
}
.cid-sxWYWfqyvo {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sxWYWfqyvo .timeline-element {
  position: relative;
}
.cid-sxWYWfqyvo .timelines-container {
  display: flex;
  flex-wrap: wrap;
}
.cid-sxWYWfqyvo .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sxWYWfqyvo .mbr-section-title,
.cid-sxWYWfqyvo .mbr-section-subtitle,
.cid-sxWYWfqyvo .timeline-date {
  text-align: center;
}
.cid-sxWYWfqyvo .iconBackground {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #6592e6;
  margin-left: -9px;
}
@media (max-width: 767px) {
  .cid-sxWYWfqyvo .iconBackground {
    left: 15px;
    top: 30px;
  }
}
@media (min-width: 768px) {
  .cid-sxWYWfqyvo .iconBackground {
    top: 70px;
    left: 50%;
  }
}
.cid-sxWYWfqyvo .row:after {
  content: "";
  position: absolute;
  background-color: #6592e6;
  width: 2px;
}
@media (max-width: 767px) {
  .cid-sxWYWfqyvo .row:after {
    height: calc(100% + 30px);
    top: 50px;
    left: 15px;
  }
}
@media (min-width: 768px) {
  .cid-sxWYWfqyvo .row:after {
    height: calc(100% - 20px);
    top: 90px;
    left: 50%;
  }
}
@media (max-width: 767px) {
  .cid-sxWYWfqyvo .timeline-date-wrapper,
  .cid-sxWYWfqyvo .timeline-text-wrapper,
  .cid-sxWYWfqyvo .image-wrapper {
    padding: 0rem;
    padding-left: 2rem;
  }
  .cid-sxWYWfqyvo .mbr-timeline-date {
    text-align: left !important;
  }
  .cid-sxWYWfqyvo .mbr-timeline-title {
    text-align: left;
    margin-top: 1rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-sxWYWfqyvo .timeline-date-wrapper,
  .cid-sxWYWfqyvo .timeline-text-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-sxWYWfqyvo .timeline-date-wrapper,
  .cid-sxWYWfqyvo .timeline-text-wrapper,
  .cid-sxWYWfqyvo .image-wrapper {
    padding: 2rem;
  }
}
.cid-sxWZ0FARRU {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sxWZ0FARRU .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sxWZ0FARRU .row {
  flex-direction: row-reverse;
}
.cid-sxWZ0FARRU img {
  width: 100%;
}
.cid-sxWZrtN8Ay {
  background-image: url("../../../assets/images/background6.jpg");
}
.cid-sxWZ3jog4T {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sxWZ3jog4T .mbr-media {
  position: relative;
}
.cid-sxWZ3jog4T .mbr-media img {
  width: 100%;
  object-fit: cover;
}
.cid-sxWZ3jog4T .icon-wrap {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.cid-sxWZ3jog4T .mbr-media span {
  font-size: 4rem;
  transition: all 0.2s;
}
.cid-sxWZ3jog4T .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-sxWZ3jog4T .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-sxWZ3jog4T .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-sxWZ3jog4T .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-sxWZ3jog4T .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-sxWZ7IWGMt {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sxWZ7IWGMt .video-wrapper iframe {
  width: 100%;
}
.cid-sxWZ7IWGMt .mbr-section-title,
.cid-sxWZ7IWGMt .mbr-section-subtitle,
.cid-sxWZ7IWGMt .mbr-text {
  text-align: center;
}
